<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/firefestival.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Fire Festival</h1>
            <h3>O evento obrigatório para quem quer estar por dentro do mercado digital!</h3>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title" style="color: #f54240; font-weight: bold;">Afinal, o que é o FIRE FESTIVAL?</h2>
                    <h5 class="description">O FIRE FESTIVAL é o evento obrigatório para quem quer fazer parte da maior comunidade do Marketing Digital, Empreendedorismo e Inovação da América Latina.
                        Organizado pela Hotmart, empresa global e líder no mercado de produtos digitais, o FIRE FESTIVAL reuniu os maiores nomes e marcas e gerou empreendimentos milionários em mais de 25 países desde 2015.</h5>
                </div>
            </div>
        </div>
    </div>
</div>