<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/slide_02.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Campus Festival</h1>
            <h3>Juntos por um novo agora!</h3>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title" style="color: #fec85b; font-weight: bold;">10 anos espalhando cultural pela capital paraibana.</h2>
                    <h5 class="description">O Campus Festival nasceu do espírito universitário, tecendo sonhos e instigando evoluções. Abraçamos individualidades e criamoso coletivo através da arte, música e conhecimento para promover um universo de possibilidades e conectar todos em experiências que desafiam o limite da consciência de cada um.</h5>
                    <h5 class="description">Por isso, convidamos você a celebrar os 10 anos do Campus Festival em um momento em que todos estaremos unidos mais uma vez, juntos por um novo agora. Queremos que todos os tempos de mudanças se tornem o prólogo de um momento completamente novo!</h5>
                </div>
            </div>
        </div>
    </div>
</div>